{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login IFN</title>
  <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>
  <div class="login-container">
    <form id="loginForm">
      <h2>Iniciar Sesión IFN</h2>
      <input id="username" type="text" placeholder="Usuario" required />
      <input id="password" type="password" placeholder="Contraseña" required />
      <button type="submit">Entrar</button>
    </form>

    <div style="margin-top: 20px; text-align: center;">
      <p>¿No tienes una cuenta?</p>
      <a href="{% url 'registrar_usuario' %}">
        <button type="button" style="padding: 10px 20px; background-color: #007bff; color: white; border: none; border-radius: 5px;">
          Registrarse
        </button>
      </a>
    </div>
  </div>

  <script src="/static/index.js"></script>
</body>
</html>
